aniso8601
astroid
autopep8
certifi
click
cycler
decorator
Flask
Flask-Cors
Flask-RESTful
gunicorn
isort
itsdangerous
Jinja2
kiwisolver
lazy-object-proxy
MarkupSafe
matplotlib
mccabe
networkx
numpy
pandas
Pillow
pycodestyle
pylint
pyparsing
python-dateutil
pytz
scipy
six
#TBB
toml
typed-ast
Werkzeug
wrapt
xlrd
